body {
    background-image: url("assets/games/sandboard/home.png");
    backdrop-filter:
    blur(10px)
    brightness(60%);
}

.preview {
    position: relative;
    height: auto;
    width: 100%;
}

.preview-main {
    max-height: 50vh !important;
}

.card {
    margin-top: 20px;
    border-width: 2px;
    border-color: #fff;
    scroll-snap-align: start;
}

.card-title {
    font-size: 4rem;
}