:root {
    --color1:#ffc400; /*a76dff*/
    --color2:#6600FF;
    --color1hov:#ffd856;

    --colorskillcard: #2b2b2b;
    --colorskillcardtext: #8b8b8b;
}

html {
    /*scroll-snap-type: y mandatory;*/
    /*scroll-behavior: smooth;*/
    max-width: 100%;
}

.nav-link {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1vw;
    text-decoration: none;
    color: #000000 !important;

    font-family: 'Smooch Sans', sans-serif;
    font-size: 50px;
    font-weight: 350;

    border-radius: 5px;
    /*filter:
    drop-shadow(1px 3px 0px #161616);*/
}

.navbar-nav>li>a:focus, .navbar-nav>li>a:hover {
    /*text-decoration: none;*/
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;

    color: #000 !important;
    filter: none;
    /*transform: translate(0px, 2px);*/
    transform: scale(1.05);
}

audio {
    color: #000000;
    width: 100%;
    max-width: 600px;
    margin-top: 5%;
    margin-bottom: 5%;
}

a:hover:not(.link-button, .social-icon-link), a:focus:not(.link-button, .social-icon-link) {
    color: var(--color1hov) !important;
}

#selected-nav-tab {
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.color-1 {
    color: var(--color1);;
}

.color-2 {
    color: var(--color2);;
}

btn {
    background-color:  var(--color2);;
    text-decoration: underline;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    color: white;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.embed-responsive-16by9 {
    position: relative;
    height: 0;
    padding-bottom: calc(100% / 16 * 9);
}

.embed-responsive-16by9 iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.carousel, .carousel-item>img, .carousel-item>iframe, #yt-video, .standalone-carousel-image, .block-vid, .block-img {
    max-height: 500px;
}

.carousel-item>img, .carousel-item>iframe, #yt-video, .standalone-carousel-image {
    border-radius: 10px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.carousel, #yt-video, .standalone-carousel-image {
    margin: auto;
    /*max-width: 800px;*/
}

.project-graphic {
    height: 98%;
    margin-bottom: 2%;
}

.block-vid, .block-img {
    aspect-ratio: 16 / 9;
    max-width: 80vw;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 10px;
}

.block-vid {
    max-width: 800px;
}

.block-vid, .block-img, .web-playable, .margin-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.square {
    aspect-ratio: 1 / 1;
}

.web-playable {
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;

    aspect-ratio: 16 / 9;
    max-width: 80vw;
}

/*
.project-graphic-iframe-container {
    width: 100%;
    height: 100%;
}

.project-graphic-iframe-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
*/

.project-embed {
    display: block;
    margin-left: auto;
    max-width: 80vw !important;
    margin-bottom: 2%;
}

/*
ol {
    list-style-type: none;
}
*/

h1, h2, h3, h4, h5, h6, .card-title {
    color:rgb(255, 255, 255);
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 300;
    /*text-align: center;*/
}

hr {
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 2%;
}

h1 {
    font-size: 8rem;
    line-height: 6rem;
    
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    max-height: 3em;

    transform:translateX(-5px);
    
}

h2 {
    font-size: 3.5rem;
    line-height: 3rem;
    /*text-align: center;*/
}

h3 {
    font-size: 3rem;
    line-height: 3rem;
}

.project-logo {
    max-width: 60vw;
    max-height: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

p, a, ul, li, button {
    color:rgb(201, 201, 201);
    font-family: 'Oswald', sans-serif;;
    font-size: 1.8rem;
    font-weight: 100;
}

#skills {
    margin-bottom: 1%;
}

.skill, .skillcard {
    font-weight: 400;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px !important;
    border-width: 1px;
}

.skill {
    font-size: 1.2rem;
    background-color: var(--color1);
    color:rgb(0, 0, 0);
    border-color: #000000;
    border-style: solid;
}

.skillcard {
    font-size: 1rem;
    background-color: var(--colorskillcard);
    color: var(--colorskillcardtext);
    padding: 5px;
}

.skillcard-highlight {
    border-color: var(--color1);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: var(--colorskillcard);
}

a {
    color: var(--color1) !important;
}

.link-button:hover, button:hover:not(.carousel-btn), .link-button:focus, button:focus:not(.carousel-btn) {
    transform: scale(1.05);
    border-color: #a7a7a7;
    border-width: 5px;
}

.link-button {
    color: #000000 !important;
    background-color: var(--color1);
    border-radius: 5px;
    text-decoration: none !important;
    font-weight: 400;
    padding: 5px;
    max-width: 40rem;
    margin-top: 5%;
    margin-bottom: 5%;
}

button {
    background-color: var(--color1);
    border-radius: 5px;
    border-style: none;
    color:rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 300;
}

.center-link {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-caption, .carousel-btn {
    filter: drop-shadow(0px 0px 5px #000000);
    color: #ececec;
}

.image-caption {
    background-color: rgba(0, 0, 0, 0.8);
}

.card-link {
    text-decoration: none;
}

.card-link:hover .card .card-title, .card-link:focus .card .card-title {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

.card-link:hover .card, .card-link:focus .card {
    border-color: #a7a7a7;
    transform: scale(1.05);
}

.card {
    background-color: #111111;
    height: 95%;
    margin-bottom: 5%;

    transition: all .05s ease-in-out; 
}

.fade{
    opacity: .5;
}

.card-title {
    font-size: 4rem;
    line-height: 3rem;

    /*
    max-width: 15rem;
    max-height: 3rem;

    display: block;
    margin-left: auto;
    margin-right: auto;
    */
  
    /*
    text-decoration: underline;
    text-decoration-thickness: 2px;
    */
}

.card-img-top {
    max-width: 100rem;
}

.card-text, .card-date {
    color:rgb(190, 190, 190) !important;
    /*text-align: center;*/
}

.card-date {
    font-size: 1rem;
    font-weight: 100;
}

body {
    display: block;
    background-color: #161616;
    max-width: 100%;
    min-height:100vh;
    overflow-x: hidden;

    padding: 0;

    display: flex;
    flex-direction: column;
}

#navbar {
    z-index: 100;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    /*background-color: rgba(255,255,255,.7);*/
    background-image: linear-gradient(rgba(255,255,255, 1), rgba(255,255,255,.85));
    backdrop-filter:
    blur(5px);
    border: #161616;
    border-width: 2px;
    border-bottom-style: solid;


    width: 100%;
    padding: 0%;
    margin: 0%;
}

#navbar-logo {
    text-decoration: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.footer {
    background-color: #111111;

    border: #252525;
    border-width: 2px;
    border-top-style: solid;
    min-height: 75px;

    margin-top: auto;
    margin-bottom: 0px;
}

.footer-row {
    max-width: 100%;
}

.footer-col {
    display: flex;
}

.footer-col-left {
    text-align: left;
}

.footer-col-right, .social-links {
    align-items: right;
    justify-content: right;
}

.footer-col-center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-text, .footer-header {
    color: #d4d4d4;
}

.footer-text, .footer-header, .social-icon {
    margin: 15px;
}

.footer-header {
    font-weight: 300;
}

.footer-text {
    font-size: 1.3rem;
}

.social-icon-link {
    display: block;
    text-decoration: none;
}

.social-icon-link:hover, .social-icon-link:focus {
    transform: scale(1.1) !important;
}

.social-icon {
    width: 30px;
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
            filter: invert(100%);
}

.searchbar {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}

.searchbar>input {
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;

    max-width: 10rem;
    max-height: 3rem;

    border-radius: 5px;

    font-size: 1.4rem;
    font-weight: 300;
}

.search-button {
    display: relative;
    background-color: transparent;
}

.search-button>img {
    width: 2rem !important;
    transform:translate(-45px, -3px);
    opacity: .75;
}

#main-content {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.project-library {
    /*margin-top: 2%;*/
    margin-bottom: 5%;
}

.info-section {
    margin-bottom: 5%;
}

.info-section-img {
    max-width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.left {
    float:left;
    margin-left: 2%;
    margin-right: 5%;
}

.right {
    float:right;
    margin-left: 5%;
    margin-right: 2%;
}





@media (max-width: 1275px) {
    h1 {
        font-size: 5rem;
        line-height: 4.2rem;

        transform: translateX(-2px);
    }

    .project-embed {
        margin-right: auto;
        margin-bottom: 5%;
    }
}

@media (max-width: 660px) {
    .footer-col {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .project-embed, .web-playable, .project-embed-col {
        display: none;
    }

    .social-links {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 424px) {
    h3 {
        font-size: 2.5rem !important;
        line-height: 2rem !important;
    }

    p {
        line-height: 2rem !important;
    }

    .skill, .skillcard {
        font-size: 1rem;
    }
}







@media (min-width: 768px) {
    .searchbar>input {
        margin-left: 2rem;
    }
}