html {
    /*scroll-snap-type: y mandatory;*/
    /*scroll-behavior: smooth;*/
    max-width: 100%;
}

.nav-link {
    font-size: 50px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 1vw;
    text-decoration: none;
    color: #000000;

    font-family: 'Smooch Sans', sans-serif;
    /*filter:
    drop-shadow(1px 3px 0px #161616);*/
}

.navbar-nav>li>a:focus, .navbar-nav>li>a:hover {
    text-decoration: none;
    color: #6600FF !important;
    background-color: transparent !important;
    filter:none;
    transform: translate(0px, 2px);
}

#selected-nav-tab {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.color-1 {
    color: #ffc400;
}

.color-2 {
    color: #6600FF;
}

btn {
    background-color: #6600FF;
    text-decoration: underline;
}

.carousel {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    max-width: 800px;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    color: white;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.embed-responsive-16by9 {
    position: relative;
    height: 0;
    padding-bottom: calc(100% / 16 * 9);
}

.embed-responsive-16by9 iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.carousel-item>img, .carousel-item>iframe {
    border-radius: 15px;
    width: 100%;
}

.itch-embed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw !important;
    margin-bottom: 2%;
}

/*
ol {
    list-style-type: none;
}
*/

h1, h2, h3, h4, h5, h6, .card-title {
    color:rgb(255, 255, 255);
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 300;
    /*text-align: center;*/
}

hr {
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 2%;
}

.card-link {
    text-decoration: none;
}

h1 {
    font-size: 8rem;
    line-height: 6rem;
    
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    max-height: 3em;
}

h2 {
    font-size: 3.5rem;
    line-height: 3rem;
    /*text-align: center;*/
}

h3 {
    font-size: 3rem;
    line-height: 3rem;
}

.project-logo {
    max-width: 60vw;
    max-height: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

p, a, ul {
    color:rgb(201, 201, 201);
    font-family: 'Oswald', sans-serif;;
    font-size: 1.8rem;
    font-weight: 100;
}

.skills {
    margin-bottom: 1%;
}

.badge {
    background-color: #ffc400;
    color:rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 400;
}

a {
    color: #ffc400;
}

.image-caption, .carousel-btn {
    filter: drop-shadow(0px 0px 10px #000000);
    color: #ececec;
}

.card {
    background-color: #111111;
    height: 95%;
    margin-bottom: 5%;
  }

.card-title {
    font-size: 4rem;
    line-height: 3rem;

    /*
    max-width: 15rem;
    max-height: 3rem;

    display: block;
    margin-left: auto;
    margin-right: auto;
    */
  
    /*
    text-decoration: underline;
    text-decoration-thickness: 2px;
    */
}

.card-img-top {
    max-width: 100rem;
}

.card-text, .card-date {
    color:rgb(190, 190, 190) !important;
    /*text-align: center;*/
}

/*
.card-text {
    text-align: right;
}
*/

.card-date {
    font-size: 1rem;
    font-weight: 100;
}

body {
    background-color: #161616;
    max-width: 100%;
    height:100%;
    overflow-x: hidden;

    padding: 0;
}

#navbar {
    z-index: 100;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    /*background-color: rgba(255,255,255,.7);*/
    background-image: linear-gradient(rgba(255,255,255, 1), rgba(255,255,255,.8));
    backdrop-filter:
    blur(5px);
    border: #161616;
    border-width: 2px;
    border-bottom-style: solid;


    width: 100%;
    padding: 0%;
    margin: 0%;
}

#navbar-logo {
    text-decoration: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.main-content {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.project-library {
    /*margin-top: 2%;*/
    margin-bottom: 5%;
}

.info-section {
    margin-bottom: 5%;
}

.info-section-img {
    max-width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.left {
    float:left;
    margin-left: 2%;
    margin-right: 5%;
}

.right {
    float:right;
    margin-left: 5%;
    margin-right: 2%;
}










/* This used to work for the parent element of button divs */
/* But it does not work with newer browsers, the below doesn't hide the play button parent div */

*::-webkit-media-controls-panel {
    display: none!important;
    -webkit-appearance: none;
  }
  
  /* Old shadow dom for play button */
  
  *::-webkit-media-controls-play-button {
    display: none!important;
    -webkit-appearance: none;
  }
  
  /* New shadow dom for play button */
  
  /* This one works! */
  
  *::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
  }