html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    max-width: 100%;
}

.nav-link {
    font-size: 50px;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    margin-left: 1vw;
    filter:
    drop-shadow(1px 3px 0px #161616);
}

.navbar-nav>li>a:focus, .navbar-nav>li>a:hover {
    text-decoration: none;
    color: #4f4f4f !important;
    background-color: transparent !important;
    filter:none;
    transform: translate(0px, 5px);
}

.color-1 {
    color: #ffc400;
}

.color-2 {
    color: #6600FF;
}

.color-3 {
    color: #FF0055;
}

p, a, h1, h2, h3, h4, h5, h6 {
    color:rgb(255, 255, 255);
    font-family: 'Odibee Sans', sans-serif;
}

body {
    background-color: #161616;
    max-width: 100%;
    height:100%;
    overflow-x: hidden;

    margin: 0;
    padding: 0;
}

#navbar {
    z-index: 100;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    /*background-color: rgba(255,255,255,.7);*/
    background-image: linear-gradient(rgba(255,255,255, 1), rgba(255,255,255,.6));
    backdrop-filter:
    blur(10px);
    border: #161616;
    border-width: 2px;
    border-bottom-style: solid;


    width:100%;
    padding: 0%;
    margin: 0%;
}

#navbar-logo {
    text-decoration: none;
    padding-top: 1vh;
    padding-bottom: 1vh;

    /*cancel hover effect*/
    transform: translate(0px) !important;
}

.main-visual-card {
    height: 100vh;
    scroll-snap-align: start;
    margin: 0px;
}

h2 {
    scroll-snap-align: start;
}

.main-visual {
    min-height: 100% !important;
    min-width: 101% !important;
    position: absolute;
    margin-left: 50vw;
    transform: translate(-50%);
    /*filter: blur(15px);*/
}


.main-visual-title {
    z-index: 10;
    position: relative;
    top: 20%;
    text-align: center;
    vertical-align: text-bottom;

    font-size: 10vw;
    color: #ffffff;
    filter: drop-shadow(1px 3px 0px #161616)
    drop-shadow(0px 0px 15px #161616);

    white-space:nowrap;
}

.main-visual-desc {
    /*
    top: -30vw;
    width: 50vw;
    left: 50%;
    
    transform: translate(-50%, -50%);
    */

    position: relative;
    top: 40%;
    text-align: center;
    vertical-align: text-top;
    
    font-size: 2vw;
    color: #e6e6e6;
    filter:
    drop-shadow(1px 3px 0px #161616)
    drop-shadow(0px 0px 15px #161616);
}

.swipe-for-more {
    display: none;
}

.scroll-for-more, .swipe-for-more {
    position: relative;
    bottom: -40%;
    text-align: center;
    vertical-align: text-top;
    /*left: 50%;*/

    font-size: 40px;
    color: #a7a7a7;
    filter:
    drop-shadow(1px 3px 0px #161616)
    drop-shadow(0px 0px 15px #161616);

    animation-name: float;
    animation-iteration-count: infinite;
    animation-duration: .5s;
    animation-direction: alternate-reverse;
}

@keyframes float {
    from {bottom: -39%;}
    to {bottom: -40%;}
}

.read-more {
    font-size: 65px;
    color: #7facff;
}

.main-visual-chevron {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
    transform: translate(-50%, -50%);
    filter: drop-shadow(1px 3px 0px #161616)
    drop-shadow(0px 0px 15px #161616);
}

.invert-color {
    filter: none;
    mix-blend-mode: difference;
}

@media (max-width: 1600px) {
    
    .main-visual-desc {
        /*display: none;*/
        font-size: 35px;
    }

    .main-visual-chevron {
        width: 50px;
    }
}

@media (hover: none) {
    .swipe-for-more {
        display: initial;
    }

    .scroll-for-more {
        display: none;
    }
  }